.custom-background {
  background-image: url('https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-background2{
  background-image: url('https://t3.ftcdn.net/jpg/01/20/39/22/360_F_120392263_rQz9G8tZXxW66XEjSccKUc8m94fAypng.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}